<div class="search-container">
  <ion-grid>
    <ion-row>
      <!-- First Column: ion-select for Services -->
      <ion-col size="6">
        <div class="search-field">
          <label>{{ "Services"  | translate }}</label>
          <ion-select [(ngModel)]="selectedSkill" [multiple]="true" placeholder="Select Services">
            <ion-select-option *ngFor="let skill of skills" [value]="skill">{{ skill }}</ion-select-option>
          </ion-select>
        </div>
      </ion-col>

      <!-- Second Column: ion-datetime-button for Date -->
      <ion-col size="6">
        <div class="search-field">
          <label>{{ "Date"  | translate }}</label>
          <ion-datetime-button datetime="datetime"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ion-content>
              <ng-template>
                <ion-datetime id="datetime" presentation="date" ></ion-datetime>
              </ng-template>
            </ion-content>
          </ion-modal>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button (click)="search()" class="ionButton" color="dark" expand="block">
    {{ "Search Specialists"  | translate }}
  </ion-button>
</div>
