.toolbar-logo {
    height: 40px;
    position: absolute;
    right: 15px;
    top: 10px;
}



.toolbar-logo {
    height: 35px;
    margin-left: 20px;
}

ion-select {
    min-width: 100px;
}

.toolbar {
    padding-top: env(safe-area-inset-top);
}