@if(isLoading){
  <app-loading></app-loading>
}

<ion-split-pane when="never" contentId="main-content" > 
    <app-menu></app-menu>

 
    <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar class="toolbar">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button></ion-buttons>
          <ion-title>{{pageTitle }}</ion-title>
         <img src="assets/images/logo2.png" alt="Company Logo" class="toolbar-logo" />
      </ion-toolbar>
    </ion-header>
    

  <ion-router-outlet>

  </ion-router-outlet>

     <ion-tabs>
       
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="home" (click)="homePage()"> 
            <ion-icon name="home" ></ion-icon>
            <ion-label>{{ 'HOME' | translate }}</ion-label>

          </ion-tab-button>
          
          <ion-tab-button (click)="specialists()">
            <ion-icon name="search"></ion-icon> 
            <ion-label>{{ 'Search' | translate }}</ion-label>
          </ion-tab-button>
          

          @if(authService.hasRole('specialist')||authService.hasRole('legalcustomer')||authService.hasRole('realcustomer')){
              <ion-tab-button (click)="chat()">
                <ion-icon name="logo-wechat"></ion-icon>
                <ion-label>{{ 'Chat' | translate }}</ion-label>
              </ion-tab-button>
              
              <ion-tab-button tab="settings" (click)="goSettingPage()">
                <ion-icon name="settings"></ion-icon>
                <ion-label>{{ 'Settings' | translate }}</ion-label>
              </ion-tab-button>
        }
        </ion-tab-bar>
      </ion-tabs>
  </div>
</ion-split-pane>
