.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70dvh;
}

.login-logo {
    font-size: 80px;
    color: var(--ion-color-primary);
    margin-bottom: 10px;
}

.login-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--ion-text-color);
}

.login-subtitle {
    font-size: 16px;
    color: var(--ion-color-medium);
    margin-bottom: 20px;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 15px;
}

.forgot-password {
    display: block;
    text-align: right;
    margin-top: 8px;
    color: var(--ion-color-primary);
    cursor: pointer;
    font-size: small;
}

.signup-text {
    text-align: center;
    margin-top: 15px;
    color: var(--ion-color-medium);
    font-size: small;
}

.signup-text a {
    color: var(--ion-color-primary);
    font-weight: bold;
    cursor: pointer;
}