<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inbox</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inbox</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <h2>Indexxxxxxxxx222</h2>
    <!-- <app-loading></app-loading> -->
   
    <!-- Your inbox-specific content here -->
  </div>
</ion-content>