.main {
    --background: none !important;
    background: url('./../../../assets/images/bg-desktop.jpg') no-repeat center center fixed !important;
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

@media (max-width: 768px) {
    .main {
        background: url('./../../../assets/images/bg-mobile.jpg') no-repeat center top fixed !important;
        background-size: cover !important;
    }
}

.glass-box {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
}



@keyframes fadeSlide {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo-container,
.button-container {
    animation: fadeSlide 0.8s ease-out forwards;
    opacity: 0;
    /* قبل از انیمیشن مخفی */
    animation-delay: 0.3s;
}




.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    max-width: 250px;
    height: auto;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.custom-button {
    margin-top: 10px;
    width: 100%;
    max-width: 400px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.custom-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}


/* Make buttons responsive */
@media (min-width: 768px) {
    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .custom-button {
        width: 60%;
        max-width: 300px;
    }
}

@media (min-width: 1024px) {
    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .custom-button {
        width: 50%;
        max-width: 280px;
    }
}