<!-- specialist-detail.component.html -->
@if(isLoading){
  <app-loading></app-loading>
}
<div class="ionMarginTop"></div>

<ion-content class="ion-padding">

  <ion-card>
    <div class="image-container">
      <img [src]="specialist?.avatar" alt="Specialist Image" class="specialist-image" />
      <div class="back-button-overlay">
        <ion-button (click)="goBack()" fill="clear" color="light">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </div>
    </div>

    <ion-card-header>
      <ion-card-title>{{ specialist?.firstName }} {{specialist?.lastName}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="summary">{{ getLocalizedDescription() }}</p>

      <ion-list>
        <ion-item>
          <ion-label><strong>{{ "Birthdate" | translate }}:</strong></ion-label>
        <ion-badge color="warning">  {{ specialist?.birthDate | date }}</ion-badge>
        </ion-item>

        <!-- <ion-item>
          <ion-label><strong>Certification:</strong></ion-label>
            <ion-badge [color]="specialist?.certified ? 'success' : 'danger'">
              {{ specialist?.certified ? 'Yes' : 'No' }}
            </ion-badge>
          
        </ion-item> -->

        <ion-item>
          <ion-label><strong>{{ "Skills" | translate }}:</strong></ion-label>
          <div class="skills-container">
            <ion-badge *ngFor="let skill of specialist?.skills" color="primary">
              {{ getLocalizedSkillName(skill) }} 
            </ion-badge>
          </div>
        </ion-item>

        <ion-item>
          <ion-label><strong>{{ "Rating" | translate }}:</strong></ion-label>
          <ion-icon *ngFor="let star of [1,2,3,4,5]" name="star" 
                    [color]="star <= specialist?.rating ? 'warning' : 'medium'">
          </ion-icon>
        </ion-item>

        <ion-item>
          <ion-label><strong>{{ "CV" | translate }}:</strong></ion-label>
          <ion-button fill="outline" color="secondary" (click)="downloadCV()">
            {{ "Download CV" | translate }} <ion-icon slot="end" name="download-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>

      <div class="button-group">
        <!-- <ion-button expand="block" fill="solid" color="primary"> 
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          Access Calendar
        </ion-button> -->

        <ion-button expand="block" fill="outline" color="success" (click)="onBookClick()">
          <ion-icon name="person-add-outline" slot="start"></ion-icon>
          {{ "Book" | translate }}
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>